@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my CRUD</h1>
    <p>My github is  <a href="https://github.com/Nathan-Romano">Github</a>.</p>
</div>
